<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Products <a href="products/create" class="btn btn-sm btn-success pull-right">New</a></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Brand</th>
                                <th>Stock</th>
                                <th>Img</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr v-for="product in products.data">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.brand}}</td>
                                    <td>{{product.stock}}</td>
                                    <img :src="product.imageUrl" width="80" alt="">
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a :href="getShowLink(product.id)">Show</a></li>
                                                <li><a :href="getEditLink(product.id)">Edit</a></li>
                                                <li><a @click="deleteProduct(product.id)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
        ],
        data: () => ({
            products:[],
        }),
        mounted(){
            this.getProducts()
        },
        methods: {
            getProducts(){
                window.axios.get('/api/products/')
                    .then(response => {
                        this.products = response.data;
                    });
            },
            getShowLink(id){
                return "/products/"+id;
            },
            getEditLink(id){
                return "/products/"+id+"/edit";
            },
            deleteProduct(id){
                window.axios.delete('api/products/'+id);
                this.getProducts();
            }
        },
    }
</script>

